<div class="menu-box">
  <ul>
    <li>
      <div class="icon menu1 menu menu-button" (click)="openSideMenu()" *ngIf="!menuOpen">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="icon menu1 menu menu-button is-open" (click)="closeSideMenu()" *ngIf="menuOpen">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </li>
    <li>
      <ul (click)="closeSideMenu()">
        <li routerLinkActive="active" routerLink="/wildcats/3"><a class="cat-button fly-out-right"><i></i></a></li>
        <li routerLinkActive="active"><a routerLink="/wildcats/2" class="bird-button fly-out-right"><i></i></a></li>
        <li routerLinkActive="active"><a routerLink="/admin" class="fish-button"><i></i></a></li>
        <li routerLinkActive="active"><a routerLink="/wildcats/1" class="whale-button fly-out-right"><i></i></a></li>
        <li routerLinkActive="active"><a routerLink="/" class="elephant-button fly-out-right"><i></i></a></li>
      </ul>
  </ul>
  <ul class="bottom-links">
    <li class="search-menu">
      <div class="search-button" (click)="toggleSearch()">
        <md-icon *ngIf="!search">search</md-icon>
        <md-icon *ngIf="search">close</md-icon>
      </div>
      <div class="search-box mat-design" [class.open]="search">
        <md-input #nameInput placeholder="Search"></md-input>
      </div>
    </li>
    <li><a href="" class="facebook-button"><md-icon svgSrc="assets/icons/facebook.svg"></md-icon></a></li>
    <li><a href="" class="twitter-button"><md-icon svgSrc="assets/icons/twitter.svg"></md-icon></a></li>
  </ul>
</div>
<div id="sidebox" class="sidebar-menu" [class.open]="menuOpen" (click)="closeSideMenu()">
  <span>Menu</span>
  <ul class="nav nav-stacked">
    <li ><a routerLink="/" class="fly-out-right">Home</a></li>
    <li routerLinkActive="active"><a routerLink="/wildcats" class="fly-out-right">Wild Cats</a></li>
    <li routerLinkActive="active"><a href="" class="fly-out-right">Reservation</a></li>
    <li routerLinkActive="active"><a href="" class="fly-out-right">About us</a></li>
    <li routerLinkActive="active"><a href="" class="fly-out-right">Contact</a></li>
  </ul>
</div>