<section>
    <md-grid-list cols="1" rowHeight="400px">
        <md-grid-tile>
            <div>
                <h2>Sign in</h2>

                <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">
                    <div>
                        <md-input type="email" name="email" placeholder="e.g email@address.com" (ngModel)="email" requred>
                        </md-input>
                        <md-input type="password" name="password" placeholder="password" (ngModel)="password" requred>
                        </md-input>
                    </div>
                    <div>
                        <button type="submit" md-raised-button color="accent" [disabled]="!formData.valid">Submit</button>
                    </div>
                </form>
                <div class="sign-in">
                    <h1 class="sign-in__heading">Sign with</h1>
                    <button class="sign-in__button" md-raised-button (click)="signInWithGithub()" type="button">GitHub</button>
                    <button class="sign-in__button" md-raised-button (click)="signInWithGoogle()" type="button">Google</button>
                    <button class="sign-in__button" md-raised-button (click)="signInWithTwitter()" type="button">Twitter</button>
                </div>
            </div>
        </md-grid-tile>
    </md-grid-list>
</section>