<div class="carousel">
  <div class="carousel-wrapper">
    <div class="carousel-item" *ngFor="let slide of slides" [class.active]="slide.active">
      <img [src]="slide.url" [alt]="slide.title">
    </div>
  </div>
  <div class="carousel-controls">
    <span *ngFor="let slide of slides, let i = index" (click)="viewSlide(i)" [class.active]="slide.active"></span>
  </div>
</div>
<div class="content text-center">
  <div class="half-width">
    <h1>Featured Galleries</h1>
    <hr>
    <h1 *ngFor="let item of proba" >{{item.active}}</h1>
    <hr>
    <h4>Wild Cats</h4>
  </div>
  <mark>asdsalkh dkjash kdjhsa kjdhsakj hdskja hdkjsah kdjsahd</mark>
</div>