<div class="page" *ngIf="wildcat">
  <div class="page-title type-1">
    <div class="page-title-inner" [ngStyle]="{ 'background-image': 'url(' + wildcat.img + ')'}">
      <h1 class="text-right">{{wildcat.name}}</h1>
      <ul class="breadcrumb">
        <li><a routerLink="/">home</a></li>
        <li><a routerLink="/wildcats">wildcats</a></li>
        <li><span>{{wildcat.name}}</span></li>
      </ul>
    </div>
  </div>
  <div class="page-inner">
    <div class="content-left">
      <h2>{{wildcat.title}}</h2>
      <p>{{wildcat.desc}}</p>
    </div>
    <div class="content-right">
      <img [src]="wildcat.gallery[0]" alt="">

      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
          <i class="circle-red">en</i>
          <strong>status</strong>
          <span>Endangered</span>
        </div>
        <div class="btn-group" role="group">
          <i class="fa fa-eye"></i>
          <strong>population</strong>
          <span>57+</span>
        </div>
        <div class="btn-group" role="group">
          <i class="fa fa-globe"></i>
          <strong>habitats</strong>
          <span>Cold High Mountains</span>
        </div>

      </div>
    </div>
  </div>
  <!-- /page inner -->
</div>
<!-- /page -->


<div class="page-center" *ngIf="wildcat">
  <div class="content">
    <h1>Distribution and habitat</h1>
    <hr>
    <p>{{wildcat.desc2}}</p>
  </div>
</div>