<md-grid-list cols="1" rowHeight="400px">
    <md-grid-tile>
        <section>
            <h2>Admin Panel</h2>

            <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">
                <div>
                    <md-input type="email" name="email" placeholder="e.g email@address.com" (ngModel)="email" requred>
                        <md-hint align="end">admin login</md-hint>
                    </md-input>
                    <md-input type="password" name="password" placeholder="password" (ngModel)="password" requred>
                    </md-input>
                </div>
                <div>
                    <button type="submit" md-raised-button color="accent" [disabled]="!formData.valid">Submit</button>
                </div>
            </form>
        </section>
    </md-grid-tile>
</md-grid-list>